
<div class="panel panel-default col-xs-12 col-ms-4">
  <div class="switch-button panel-body" id="current-itinerary-button">
    <h2>Your Current Itinerary</h2>
  </div>
</div>

<div id="current-itinerary">
  <h3><%= @itinerary.name %> </h3>
  <ol>
    <% @biz_info.each do |info| %>
    <li><p>
    <a href="<%= info.url %>"><%= info.name %></a><br>
      <%= info.display_phone %><br>
      <%= info.location.display_address.split(", ").join(", ") %>
      </p></li>
  <% end %>
</ol>
</div>
