<% if current_user %>
  Logged in as <%= current_user.email %> |
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %> |
  <%= link_to "Log In", new_user_session_path  %>
<% end %><br><br>

<div id="error-msg"></div>
<%= form_tag(itineraries_path, id: 'activity_form') do %>
  <%= select_tag "search[ids][0][tag]", options_from_collection_for_select(Tag.all, :id, :name) %>
<%= form_tag itineraries_path do %>
  <%= radio_button_tag(:sort, 1, true) %>
  <%= label_tag(:sort_1, "Closest Distance") %>
  <%= radio_button_tag(:sort, 2) %>
  <%= label_tag(:sort_2, "Highest Rated") %><br>

  <%= select_tag "search[ids][0][tag]", options_from_collection_for_select(Tag.all, :alias, :name) %>
  <%= text_field_tag "search[ids][0][term]" %><br>
  <%= select_tag "search[ids][1][tag]", options_from_collection_for_select(Tag.all, :alias, :name) %>
  <%= text_field_tag "search[ids][1][term]" %><br>
  <%= select_tag "search[ids][2][tag]", options_from_collection_for_select(Tag.all, :alias, :name) %>
  <%= text_field_tag "search[ids][2][term]" %><br>
  <%= hidden_field_tag "latitude" %>
  <%= hidden_field_tag "longitude" %>
  <%= submit_tag 'Search' %>
<% end %>
