<% unless @lat_lng %>
 <script>
 getGeoLocation();
 </script>
 <% end %>

<%= form_tag(search_index_path, method: "get", id: "search_key") do %>
  <%= text_field_tag "search_key" %>
  <%= submit_tag 'Search for an Itinerary' %>
<% end %>


<%= form_tag(itineraries_path, id: "activity_form") do %>
  <%= radio_button_tag(:sort, 1, true) %>
  <%= label_tag(:sort_1, "Closest Distance") %>
  <%= radio_button_tag(:sort, 2) %>
  <%= label_tag(:sort_2, "Highest Rated") %><br>
  <div class="input_fields_wrap">
  <%= label_tag "Enter an address:" %>
  <%= text_field_tag "address" %><br>
  <%= select_tag "search[ids][0][tag]", options_from_collection_for_select(Tag.all, :alias, :name) %>
  <%= text_field_tag "search[ids][0][term]" %><button class="add_field_button">+</button>
  <%= submit_tag 'Search', controller: "application", action: "lat_lng" %>
<% end %>
