
<div id="create_itinerary">
<h3>Create an Itinerary</h3>
<%= form_tag(itineraries_path, id: "activity_form") do %>
<div class="form_divider">
<%= label_tag "Sort By: " %><br>
  <%= radio_button_tag(:sort, 1, true) %>
  <%= label_tag(:sort_1, "Closest Distance") %><br>
  <%= radio_button_tag(:sort, 2) %>
  <%= label_tag(:sort_2, "Highest Rated") %><br>
  <%= hidden_field_tag "lat_lng", "#{@lat_lng}" %>
</div>
<div class="form_divider">
  <%= label_tag "Location: " %><br>
    <div><%= radio_button_tag(:current_location, true, true) %>
    <%= label_tag("Get my current location.") %><br></div>


    <div><%= radio_button_tag(:current_location, false, false) %>
    <%= label_tag("Use an address.") %><br>
    <div id="reveal-if-active">
      <%= label_tag "Enter an address:" %>
      <%= text_field_tag "address" %><br>
    </div></div>

</div>
  <div id="input_fields_wrap" class="form_divider">
  <%= select_tag "search[ids][0][tag]", options_from_collection_for_select(Tag.all, :alias, :name) %>
  <%= text_field_tag "search[ids][0][term]", nil, placeholder: "Optional search term" %><button id="add_field_button">+</button>
</div>
<div id="form_submit_button">
  <%= submit_tag 'Search', class: "btn btn-rw btn-primary btn-lg", controller: "application", id:"location", action: "lat_lng" %>
</div>
</div>
<% end %>
