<h2>Log in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:html => {:id => "login-box"},:format => :json, :remote => true ) do |f| %>

<%= f.password_field :password, :class => "form-control", :placeholder => "Password", autocomplete: "off" %>

    <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me, :style => "margin-top:20px;margin-bottom:20px;" %>
    <%= f.label :remember_me, :style => "margin-top:20px;margin-bottom:20px;" %>
    <% end -%>


    <%= f.submit "Sign In", :class => "btn btn-default btn-login" %>

    <% end %>

<%= render "users/shared/links" %>
