<!-- Begin Header -->
<header>

  <!-- Begin Top Bar -->
  <div class="top-bar">
    <div class="container container-header">
      <div class="row top-bar-row">
        <!-- Address and Phone -->
        <div class="col-sm-7 hidden-xs contact-info">

        </div>
        <!-- Social Buttons -->
        <div class="col-sm-5 text-right topmenu-holder">
                  <ul class="topbar-list list-inline">
                    <% if user_signed_in? %>
                    <li>Logged in as <strong><%= current_user.email %></strong>.</li>
                    <% else %>
                    <li><%= link_to 'Log In', new_user_session_path %></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                    <% end %>
                    <li>
                    <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!--/row -->
    </div><!--/container header -->
  </div><!--/top bar -->
  <!-- End Top Bar -->

    <!-- Begin Navigation -->
  <div class="navbar">
    <div class="container container-header">
      <div class="navbar-header">
        <!-- Brand -->
        <!-- <a href="index.html" class="navbar-brand"> -->
        <div id="site_title"><h1><%= link_to "scoutr", root_path %> <%# image_tag "logo.png", alt:"Raleway Responsive Parallax Bootstrap 3 Template" %></h1></div>
        <!-- </a> -->
        <!-- Mobile Navigation -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
      </div><!-- /navbar header -->

      <!-- Main Navigation -->
      <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li id="search_form_header">
            <%= form_tag(search_index_path, method: "get", id: "search_key") do %>
              <%= text_field_tag "search_key" %>
              <%= submit_tag 'Search for an Itinerary' %>
            <% end %>
          </li>

          <% if user_signed_in? %>
          <li class="dropdown active">
                <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">My Profile<span class="fa fa-angle-down dropdown-arrow"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                  <li><%= link_to "Your Lists", user_path(current_user.id), :class => 'navbar-link'  %></li>
                  <li><%= link_to "All Lists", itineraries_path, :class => 'navbar-link'  %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
              </li>
              <% end %>


        </ul><!-- /navbar right -->
      </nav><!-- /nav -->

    </div><!-- /container header -->
  </div><!-- /navbar -->
  <!-- End Navigation -->

</header><!-- /header -->
<!-- End Header -->
